.awsBtn {

    --slider-height-percentage: 60%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 8px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #5aada9fb;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #ccccccb7;
    --control-bullet-active-color: #ffffff;
    --loader-bar-color: #851515;
    --loader-bar-hWeight: 6px;
    
    }