.projectContainer {
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: black;

  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  padding: auto;
  margin: auto;
  background-position: 60% 0%;
  background-size: cover;
}

.aws_btn {

  --slider-height-percentage: 100%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 6px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 50px;
}
.sliderItem{ 
  height: 100vh;
  background-Color: black;
  width: 100vw;
  background-Size: cover;
  background-Position: 60% 0%;
  align-items: center;
  margin:auto;
  padding:auto 20rem;
  text-align: center;
 }

 .sliderItem img{
    bottom:20%;
 
   margin: 10px auto;
   position: relative;
   max-width: 95%;
   
   width:50rem;
 }


 @media screen and (min-width: 66rem) {

  .sliderItem img{
    top:-10%;
   
    left:0;
    right: 0;
    margin: 10px auto;
    position:fixed;
    max-width: 60rem;
    width:60%;
  }
}

 @media screen and (max-width: 65rem) {

  .sliderItem img{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position:fixed;
    max-width: 95%;
    width:80%;
  }
}

 @media screen and (max-width: 45rem) {

  .sliderItem img{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position:fixed;
    max-width: 95vw;
    width:30rem;
  }
}

.homeButton {
  user-select: none;
  top: 1;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
  margin: 20vh auto;
  box-shadow: 0 0 20px rgba(255,255,255,0.1), 0 0 20px rgba(255,255,255,.1);
  font-size: 24px;
  display: inline-block;
  vertical-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 25rem;
  height: 3.1rem;
  line-height: 3.1rem;
  padding: 5px auto;
  border-radius: 5px;
  //border: 2px solid rgba(222,222,222);
  color: white;
  text-shadow: 2px 2px 5px rgba(75, 75, 75, 0.7);

  backdrop-filter: blur(10px);
  background: linear-gradient(300deg, rgba(80, 80, 80, 0.7) 0%, rgba(100, 100, 100, 0.7) 74%);
  transition:0.5s;
}

.homeButton:hover {
  
  background: linear-gradient(300deg, rgba(80, 80, 80,0.8) 0%, rgba(100, 100, 100,0.8) 74%);

}

@media screen and (max-width: 100rem) {

  .homeButton {
    margin: 15vh auto;
  }
}

@media screen and (max-width: 45rem) {

  .homeButton {
    width:90%;
    margin: 5vh auto;
  }
}