
.navlink{
    position:relative;
    color:white;
    background-color:rgba(30,30,30,0.9);
    right: 0;
    left: auto
}

.navlink:hover{
    color:rgba(200,200,200);
    background-color:rgba(30,30,30,0.9);

}
.nav{
#nav-dropdown{
    color: white;
    font-weight: bold;
    background-color: red;
}
}