.innerBox{ 
  user-select: none;
    width: 3.5rem;
     height: 3rem; 
     padding: 0.4rem 0.2rem; 
     align-items: left; 
     text-align: left;
     float:left; 
}
.title{
  user-select: none;
    text-shadow: none;
    font-weight: 500;
    padding: 0.5rem 0.3rem; 
    color:rgba(255,255,255,0.9);
    width:12rem;
    height:3rem;
    line-height: 1.7rem;
   float: right; 
   vertical-align: middle;
   align-items: center;
}




.homeButton {
    top: 1;
    bottom: 0;
    left: 0;
    right: 0;
  
   position: absolute;
  
    z-index: 9999;
    margin: 8vh 10vh;
    font-size: 20px;
    align-items: center;
    text-align: center;
    width: 16rem;
    max-width: 90%;
  
    height: 3rem;
    min-height: 3rem;
    line-height: 3rem;
    border-radius: 2rem;

    font-weight: 450;
    backdrop-filter: blur(10px);
    background-position: left center;
    background-size: 200% 100%;
    border-radius: 50px;
    //moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #4b76a3, #485563, #2b5876, #4e4376);
  
    box-shadow: 0 10px 15px 0 rgba(45, 54, 65, 0.75);
  }
  
  .homeButton:hover {
    background-position: right center;
    //opacity: 0.9;
    background-position: 100% 0;
    //moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  
  }
  html:not([data-scroll='0']) {
    .homeButton {
      position:fixed;
    }
  }

  @media screen and (max-width: 45rem) {
  
    .homeButton {
      width:90%;
      position:fixed;
      margin: 5vh auto;
    }
  }