.bottomHeader{
  font-size: 1.3em;
  font-weight: 400;
}

.email_link:hover{
  color:lightgrey;
}

.absoluteBottom{
  color:rgba(225,225,225);
  position: absoluteBottom;
  bottom:0;
  right:0;
  padding:0.4rem;
}



.bottom, .bottomLink{
  position: relative; 
  font-size: 14px;
  line-height:22px;
  background: rgba(30,30,30);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: bottom center; 
  background-size: cover; 
  color:rgba(200,200,200,0.8);

  font-weight: 300;
  width:100%;
  @media only screen and (min-width: 768px) {

      font-size: 18px;
      line-height:24px;    
  }
}

.bottomLink{
  overflow: auto;
  display: flex;
  justify-content: space-between;
  padding-right:0.7rem;
  background: #2b2b2b ;
  height:4em;

}

.top{
  width: 100%;
  height:   60vh;
  display: flex;
  justify-content: bottom left;
  align-items: center;
  margin: 0 auto;

  background-size: cover; 
    background:url('/images/IMG_6882.jpg')no-repeat;
    background-position: top; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover; 
 
}

.toptitle{
  
  padding-left: 4vh;
  padding-bottom: 2vh;                  
                bottom:0;                          
                left:0;  
  color: white;
  font-weight: 350;
  font-size:4vw;
  text-shadow: 0  15px 25px rgba(0,0,0,0.20), 0   5px 10px rgba(0,0,0,0.25);
}

.background{
  padding-left: auto;
  padding-right: auto;
  align-items: center;
  background-color: rgb(236, 236, 236);
}





.container {  
  background: black;
  align-items: top center;
  position: relative;
  padding-bottom: 5vh;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


