.responsivecomponent {
  width: 100%;
  max-width: 100rem;
  display: block;
  align-items: center;
  margin: auto;
  align-items: top center;
  align-self: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 45rem) {
  .responsivecomponent {
    padding-left: 10%;
    padding-right: 10%;
  }
}
